@import "../common/clearform";
@import "../common/header";
@import "../common/footer";
@import "../common/agent-list";
@import "../common/btn";
.search {
    height: 0.5rem;
    border-bottom: 2px solid #ccc;
    font-size: 0;
    input {
        font-size: 0.13rem;
        padding-left: 0.1rem;
        margin: 0.08rem 0.15rem 0.1rem;
        width: 3.1rem;
        height: 0.32rem;
        border: 1px solid #dfdfdf;
    }
     ::-webkit-input-placeholder {
        color: #999;
    }
     ::-moz-placeholder {
        color: #999;
    }
     ::-ms-input-placeholder {
        color: #999;
    }
}

.agent-list {
    position: absolute;
    width: 100%;
    top: 1.02rem;
    bottom: 0.51rem;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: scroll;
}