
body {
    background: #f8f8f8;
}

.tab-body {
    >div {
        margin-top: 0.15rem;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-size: 0.14rem;
        .line {
            height: 0.5rem;
            line-height: 0.5rem;
            box-sizing: border-box;
            padding-left: 0.15rem;
            padding-top: 1px;
            position: relative;
            &:nth-of-type(2n) {
                background: #fff;
            }
            &:nth-of-type(2n+1) {
                background: #f8f8f8;
            }
        }
        .submit-btn {
            margin-left: 0;
        }
        .agent-head,
        .direct-head {
            color: #999;
        }
        .agent-account {
            width: 30%;
            float: left;
        }
        .agent-name {
            width: 30%;
            float: left;
        }
        .agent-add-date {
            width: 40%;
            float: left;
        }
        .direct-name {
            width: 30%;
            float: left;
        }
        .direct-add-date {
            width: 30%;
            float: left;
        }
    }
}