
body {
    background: #f8f8f8;
}
.top-info {
    height: 0.45rem;
    line-height: 0.45rem;
    background: #fff;
    border-bottom: 1px solid #ccc;
    color: #00c4b4;
    font-size: 0.14rem;
    .input-group {
        display: inline-block;
    }
    .input-group input {
        display: inline-block;
        height: 0.45rem;
        width: 1rem;
        box-sizing: border-box;
        font-size: 0.14rem;
        padding-left: 0.1rem;
        color: #333;
    }
}
.agent-list {
    top: 0.97rem;
}
.agent-body {
    .consume {
        box-sizing: border-box;
        padding-left: 0.15rem;
    }
    .dayu {
        width: 12%;
        box-sizing: border-box;
        padding-left: 0.15rem;
    }
}

.body {
    bottom: 0.5rem;
    overflow: hidden;
}
