@import "../common/clearform";
@import "../common/header";
@import "../common/footer";
@import "../common/tab";
@import "../common/agent-list";
body {
    background: #f8f8f8;
}
.top-info {
    height: 0.45rem;
    line-height: 0.45rem;
    background: #fff;
    border-bottom: 1px solid #ccc;
    color: $green;
    font-size: 0.14rem;
    #month {
        display: inline-block;
        height: 0.45rem;
        width: 1rem;
        box-sizing: border-box;
        font-size: 0.14rem;
        padding-left: 0.2rem;
    }
}
.agent-list {
    position: absolute;
    width: 100%;
    top: 1.02rem;
    bottom: 0.51rem;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: scroll;
}
.agent-body {
    .consume {
        box-sizing: border-box;
        padding-left: 0.15rem;
    }
    .dayu {
        width: 12%;
        box-sizing: border-box;
        padding-left: 0.15rem;
    }
}