
body {
    background: #f2f2f2;
}

.give-frame {
    
    font-size: 0;
    margin: 0.1rem;
    p {
        font-size: 0.14rem;
        margin: 0.25rem 0 0 0.2rem;
    }
    input {
        border: none;
        border-bottom: 1px solid #ccc;
        margin-left: 0.2rem;
        width: 2.8rem;
        background: #f2f2f2;
    }
    .give-money {
        height: 0.5rem;
        font-size: 0.4rem;
    }
    .give-password,
    .play-id {
        height: 0.35rem;
        font-size: 0.14rem;
    }
    .money-number {
        font-size: 0.12rem;
        .all {
            color: #00c4b4;
        }
    }
    .submit-btn {
        margin-top: 0.4rem;
    }
}