
body {
    background: #f2f2f2;
}
.login .line {
    ::-webkit-input-placeholder {
        color: #333;
    }
     ::-moz-placeholder {
        color: #333;
    }
     ::-ms-input-placeholder {
        color: #333;
    }
}