html {
  font-size: 100px; }

body {
  margin: 0;
  overflow: hidden; }

.clear::after {
  content: '';
  display: block;
  clear: both; }

.green {
  color: #00c4b4; }

.red {
  color: red; }

p {
  margin: 0; }

.body {
  position: absolute;
  top: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll; }

input:focus {
  outline: none; }

::-webkit-scrollbar {
  display: none; }

header {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0.5rem;
  text-align: center;
  color: #fff;
  font-size: 0.16rem;
  line-height: 0.5rem; }
  header .iconfont {
    position: absolute;
    left: 0.05rem;
    top: 0;
    font-size: 0.2rem; }
  header .right {
    position: absolute;
    top: 0;
    right: 0.1rem;
    font-size: 0.14rem;
    color: #00c4b4; }

footer {
  position: fixed;
  bottom: 0;
  width: 3.6rem;
  height: 0.5rem;
  font-size: 0.12rem;
  background: #fff;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #333; }
  footer > div {
    width: 25%;
    float: left;
    position: relative; }
    footer > div .iconfont {
      font-size: 0.3rem; }
    footer > div p {
      margin: 0; }
  footer .agent > div {
    position: relative;
    top: 0.01rem; }

.agent-list {
  background: #f8f8f8;
  font-size: 0.14rem;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll; }
  .agent-list .agent-head {
    height: 0.5rem;
    line-height: 0.5rem;
    color: #999; }
  .agent-list .agent-body {
    line-height: 0.6rem;
    color: #333;
    border-bottom: 1px solid #f2f2f2; }
    .agent-list .agent-body > div {
      height: 0.6rem; }
  .agent-list .agent-name {
    float: left;
    box-sizing: border-box;
    width: 28%;
    padding-left: 0.15rem; }
  .agent-list .order-money {
    float: left;
    box-sizing: border-box;
    width: 28%;
    padding-left: 0.15rem; }
  .agent-list .agent-account {
    float: left;
    width: 30%; }
  .agent-list .agent-money {
    float: left;
    width: 27%; }
  .agent-list .consume {
    float: left;
    width: 30%; }
  .agent-list .order-type {
    float: left;
    width: 27%; }
  .agent-list .order-time {
    float: left;
    width: 30%; }
  .agent-list .all-return-money {
    float: left;
    width: 30%; }
  .agent-list .dayu {
    float: left;
    width: 15%;
    color: #00c4b4; }
  .agent-list .more {
    color: #00c4b4;
    font-weight: bold;
    font-size: 0.14rem;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem; }

.tab-header {
  color: #00c4b4;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.14rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
  position: fixed;
  top: 0.5rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around; }
  .tab-header > div {
    width: 33%;
    height: 95%;
    text-align: center;
    position: relative; }
    .tab-header > div.active {
      border-bottom: 3px solid #00c4b4; }

.tab-body {
  margin-top: 0.51rem; }
  .tab-body > div {
    display: none; }
    .tab-body > div.active {
      display: block; }

.bottom-btn {
  position: fixed;
  right: 0.12rem;
  bottom: 0.6rem;
  color: #fff;
  background: rgba(0, 196, 180, 0.5);
  font-size: 0.2rem;
  font-weight: bold;
  text-align: center;
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  border-radius: 50%; }

.submit-btn {
  font-size: 0.14rem;
  height: 0.34rem;
  line-height: 0.34rem;
  background: #00c4b4;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 0.08rem 0.15rem; }

.money-btn {
  color: #00c4b4;
  font-size: 0.16rem; }
  .money-btn > div {
    float: left;
    width: 0.94rem;
    height: 0.45rem;
    border: 2px solid #00c4b4;
    border-radius: 0.05rem;
    margin: 0.2rem 0 0 0.2rem;
    box-sizing: border-box;
    padding-right: 0.25rem;
    background: #fff;
    position: relative;
    text-align: center; }
    .money-btn > div .number {
      font-weight: bold;
      font-size: 0.17rem;
      line-height: 0.4rem; }
    .money-btn > div .font {
      position: absolute;
      right: 0.01rem;
      bottom: 0.08rem;
      font-size: 0.13rem; }

.info {
  margin: 0.1rem 0;
  font-size: 0.13rem;
  background: #fff;
  line-height: 0.45rem; }
  .info > div {
    position: relative;
    padding-left: 0.15rem;
    border-bottom: 1px solid #f2f2f2; }
    .info > div span {
      float: right;
      margin-right: 0.3rem; }

.login {
  font-size: 0.14rem;
  color: #333;
  margin-top: 45%; }
  .login .line {
    margin: 0 0.2rem 0.3rem;
    border: 1px solid #ccc;
    padding: 0.1rem 0.2rem;
    background: #fff; }
    .login .line input {
      font-size: 0.14rem;
      width: 2.2rem;
      padding-left: 0.1rem;
      border: none; }
    .login .line ::-webkit-input-placeholder {
      color: #ccc; }
    .login .line ::-moz-placeholder {
      color: #ccc; }
    .login .line ::-ms-input-placeholder {
      color: #ccc; }
  .login .submit {
    margin: 0 0.2rem;
    background: #00c4b4;
    text-align: center;
    color: #fff;
    font-size: 0.16rem;
    letter-spacing: 0.02rem;
    height: 0.4rem;
    line-height: 0.4rem; }

.pop-up {
  display: none;
  position: fixed;
  z-index: 999;
  background: rgba(102, 102, 102, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .pop-up > div {
    border: 1px solid #00c4b4;
    font-size: 0.14rem;
    color: #333;
    border-radius: 0.08rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f2f2f2;
    transform: translate(-50%, -50%); }
  .pop-up .pop-header {
    height: 0.3rem;
    line-height: 0.3rem;
    background: #00c4b4;
    font-size: 0.16rem;
    padding: 0 0.1rem;
    color: #fff;
    border-radius: 0.06rem 0.06rem 0 0; }
    .pop-up .pop-header .close {
      float: right;
      position: relative;
      bottom: 0.3rem; }
  .pop-up .pop-body {
    margin-top: 0.2rem;
    padding: 0 0.2rem; }
    .pop-up .pop-body p {
      width: 2rem; }
  .pop-up .pop-footer {
    padding: 0 0.2rem 0.2rem;
    margin-top: 0.3rem; }
    .pop-up .pop-footer span {
      display: inline-block;
      width: 0.8rem;
      height: 0.3rem;
      line-height: 0.3rem;
      border-radius: 0.03rem;
      text-align: center; }
    .pop-up .pop-footer .cancel {
      background: #fff;
      color: #333;
      margin-right: 0.2rem;
      margin-left: 0.1rem; }
    .pop-up .pop-footer .submit {
      background: #00c4b4;
      color: #fff; }
    .pop-up .pop-footer .simple {
      margin-left: 0.6rem; }

* {
  padding: 0;
  margin: 0; }

#container {
  font-size: 0.14rem; }

body {
  font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif; }

@font-face {
  font-family: 'iconfont';
  /* project id 278590 */
  src: url("//at.alicdn.com/t/font_a7nv1y3id33xflxr.eot");
  src: url("//at.alicdn.com/t/font_a7nv1y3id33xflxr.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_a7nv1y3id33xflxr.woff") format("woff"), url("//at.alicdn.com/t/font_a7nv1y3id33xflxr.ttf") format("truetype"), url("//at.alicdn.com/t/font_a7nv1y3id33xflxr.svg#iconfont") format("svg"); }
.calendar-locked {
  height: 100% !important;
  overflow: hidden !important; }

.calendar-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(75, 75, 75, 0);
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  z-index: -1; }

.calendar-bg-up {
  z-index: 999 !important;
  background: rgba(75, 75, 75, 0.8) !important; }

.calendar-bg.calendar-bg-delay {
  z-index: 999 !important; }

.calendar-block {
  width: 100%;
  height: 290px;
  overflow: hidden;
  transition: all .3s ease .2s; }
  .calendar-block.shorter {
    height: 250px !important; }
  .calendar-block.higher {
    height: 330px !important; }

.calendar-block.calendar-block-action-none {
  touch-action: none; }

.calendar-block-mask {
  position: absolute;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  touch-action: none !important; }

.calendar-block-mask-transition {
  transition: all .5s ease; }

.calendar-block-mask-up {
  transform: translate3d(0, 0, 0) !important; }

.calendar-title {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(120deg, #ddd 30%, #f5f5f5); }
  .calendar-title span {
    position: absolute;
    display: inline-block;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    font-family: 'iconfont';
    color: #555;
    font-size: 16px; }
  .calendar-title .calendar-title-left {
    left: 0; }
  .calendar-title .calendar-title-right {
    right: 0; }
  .calendar-title b {
    font-size: 18px; }

.calendar-box {
  position: relative;
  width: 500%; }
  .calendar-box .calendar-item {
    display: inline-block;
    width: 20%;
    float: left;
    box-sizing: border-box;
    background: #f8f8f8; }
    .calendar-box .calendar-item .calendar-item-title {
      width: 100%;
      height: 40px; }
      .calendar-box .calendar-item .calendar-item-title span {
        display: inline-block;
        width: 14.28%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #555;
        float: left;
        box-sizing: border-box; }
    .calendar-box .calendar-item .calendar-item-body {
      list-style-type: none; }
      .calendar-box .calendar-item .calendar-item-body li {
        display: inline-block;
        width: 14.28%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #0a0a0a;
        float: left;
        box-sizing: border-box; }
        .calendar-box .calendar-item .calendar-item-body li i {
          display: inline-block;
          font-style: normal;
          width: 32px;
          height: 32px;
          line-height: 32px;
          border-radius: 50%; }
        .calendar-box .calendar-item .calendar-item-body li.calendar-disabled {
          color: #aaa; }

/*# sourceMappingURL=common.css.map */
