html {
  font-size: 100px; }

body {
  margin: 0; }

.clear::after {
  content: '';
  display: block;
  clear: both; }

header {
  background: #333;
  position: fixed;
  top: 0;
  height: 0.5rem;
  text-align: center;
  color: #fff;
  font-size: 0.16rem;
  line-height: 0.5rem;
  position: relative; }
  header .iconfont {
    position: absolute;
    left: 0.05rem;
    top: 0;
    font-size: 0.2rem; }
  header .right {
    position: absolute;
    top: 0;
    right: 0.1rem;
    font-size: 0.14rem;
    color: #00c4b4; }

footer {
  position: fixed;
  bottom: 0;
  width: 3.6rem;
  height: 0.5rem;
  font-size: 0.12rem;
  background: #fff;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #333; }
  footer > div {
    width: 25%;
    float: left;
    position: relative; }
    footer > div .iconfont {
      font-size: 0.3rem; }
    footer > div p {
      margin: 0; }
  footer .agent > div {
    position: relative;
    top: 0.01rem; }

.tab-header {
  color: #00c4b4;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.14rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-around; }
  .tab-header > div {
    width: 33%;
    height: 95%;
    text-align: center;
    position: relative; }
    .tab-header > div.active {
      border-bottom: 3px solid #00c4b4; }

.tab-body > div {
  display: none; }
  .tab-body > div.active {
    display: block; }

.agent-list {
  background: #f8f8f8;
  font-size: 0.14rem; }
  .agent-list .agent-head {
    height: 0.5rem;
    line-height: 0.5rem;
    color: #999; }
  .agent-list .agent-body {
    height: 0.6rem;
    line-height: 0.6rem;
    color: #333;
    border-bottom: 1px solid #f2f2f2; }
  .agent-list .agent-name {
    float: left;
    box-sizing: border-box;
    width: 28%;
    padding-left: 0.15rem; }
  .agent-list .agent-account {
    float: left;
    width: 30%; }
  .agent-list .agent-money {
    float: left;
    width: 27%; }
  .agent-list .consume {
    float: left;
    width: 30%; }
  .agent-list .all-return-money {
    float: left;
    width: 30%; }
  .agent-list .dayu {
    float: left;
    width: 15%;
    color: #00c4b4; }
  .agent-list .more {
    color: #00c4b4;
    font-weight: bold;
    font-size: 0.14rem;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem; }

.bottom-btn {
  position: fixed;
  right: 0.12rem;
  bottom: 0.6rem;
  color: #fff;
  background: rgba(0, 196, 180, 0.5);
  font-size: 0.2rem;
  font-weight: bold;
  text-align: center;
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  border-radius: 50%; }

.submit-btn {
  font-size: 0.14rem;
  height: 0.34rem;
  line-height: 0.34rem;
  background: #00c4b4;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 0.08rem 0.15rem; }

.hint {
  height: 0.35rem;
  border-bottom: 1px solid #ccc;
  padding: 0 0.15rem;
  font-size: 0.13rem;
  color: red;
  line-height: 0.35rem; }
  .hint span {
    float: right; }

.agent-list {
  position: absolute;
  width: 100%;
  top: 1.02rem;
  bottom: 0.51rem;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: scroll; }

/*# sourceMappingURL=recharge.css.map */
