.agent-list {
    background: #f8f8f8;
    font-size: 0.14rem;
    .agent-head {
        height: 0.5rem;
        line-height: 0.5rem;
        color: #999;
    }
    .agent-body {
        height: 0.6rem;
        line-height: 0.6rem;
        color: #333;
        border-bottom: 1px solid #f2f2f2;
    }
    .agent-name {
        float: left;
        box-sizing: border-box;
        width: 28%;
        padding-left: 0.15rem;
    }
    .order-money {
        float: left;
        box-sizing: border-box;
        width: 28%;
        padding-left: 0.15rem;
    }
    .agent-account {
        float: left;
        width: 30%;
    }
    .agent-money {
        float: left;
        width: 27%;
    }
    .consume {
        float: left;
        width: 30%;
    }
    .order-type {
        float: left;
        width: 27%;
    }
    .order-time {
        float: left;
        width: 30%;
    }
    .all-return-money {
        float: left;
        width: 30%;
    }
    .dayu {
        float: left;
        width: 15%;
        color: $green;
    }
    .more {
        color: $green;
        font-weight: bold;
        font-size: 0.14rem;
        height: 0.4rem;
        text-align: center;
        line-height: 0.4rem;
    }
}