$green:#00c4b4;
html {
    font-size: 100px;
}
body {
    margin: 0;
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.green {
    color: $green;
}
.red {
    color: red;
}

p {
    margin: 0;
}

input:focus {
    outline: none;
}

::-webkit-scrollbar{
    display:none;
  }