.tab-header {
    color: $green;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.14rem;
    border-bottom: 1px solid #ccc;
    background: #fff;
    position: fixed;
    top: 0.5rem;
    left: 0;
    right: 0;
    
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    
    -webkit-box-pack: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-box-align: flex-start;
    -moz-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    >div {
        width: 33%;
        height: 95%;
        text-align: center;
        position: relative;
        &.active {
            border-bottom: 3px solid $green;
        }
    }
}

.tab-body {
    margin-top: 0.51rem;
    >div {
        display: none;
        &.active {
            display: block;
        }
        
    }
}