.tab-header {
    color: $green;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.14rem;
    border-bottom: 1px solid #ccc;
    background: #fff;
    position: fixed;
    top: 0.5rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    >div {
        width: 33%;
        height: 95%;
        text-align: center;
        position: relative;
        &.active {
            border-bottom: 3px solid $green;
        }
    }
}

.tab-body {
    margin-top: 0.51rem;
    >div {
        display: none;
        &.active {
            display: block;
        }
        
    }
}